<div class="container mt-4">
  <h3 class="mb-3">Add New Parcel</h3>
  <form *ngIf="parcel.id" #parcelForm="ngForm">
        <div class="row">
      <div class="col-md-6">
        <label>Sender Name</label>
        <input [(ngModel)]="parcel.senderName" name="senderName" class="form-control" required>

        <label>Sender Phone</label>
        <input [(ngModel)]="parcel.senderPhone" name="senderPhone" class="form-control" required>

        <label>Sender Address</label>
        <textarea [(ngModel)]="parcel.senderAddress" name="senderAddress" class="form-control" required></textarea>

        <div class="row">
          <div class="col-md-6">
      <label class="form-label">Receive Country Hab</label>
      <select formControlName="sendCountryHub" class="form-select" (change)="onCountryChange()">
        <option value="">Select Country</option>
        <option *ngFor="let country is country" [value]="country.id">{{ country.name }}</option>
      </select>
    </div>

    <div class="col-md-6">
      <label class="form-label"> Receive Division Hab</label>
      <select formControlName="division" class="form-select" (change)="onDivisionChange()">
        <option value="">Select Division</option>
        <option *ngFor="let division of filteredDivisions" [value]="division.id">{{ division.name }}</option>
      </select>
    </div>

    <div class="col-md-6">
      <label class="form-label">Receive District Hab</label>
      <select formControlName="district" class="form-select" (change)="onDistrictChange()">
        <option value="">Select District</option>
        <option *ngFor="let district of filteredDistricts" [value]="district.id">{{ district.name }}</option>
      </select>
    </div>

    <div class="col-md-6">
      <label class="form-label"> Receive Police Station Hab</label>
      <select formControlName="policeStation" class="form-select">
        <option value="">Select Police Station</option>
        <option *ngFor="let ps of filteredPoliceStations" [value]="ps.id">{{ ps.name }}</option>
      </select>
    </div>

        </div>
      </div>
            <div class="col-md-6">
        <label>Receiver Name</label>
        <input [(ngModel)]="parcel.currentHub" name="currentHub" class="form-control" required>

        <label>Receiver Phone</label>
        <input [(ngModel)]="parcel.receiverPhone" name="receiverPhone" class="form-control" required>

        <label>Receiver Address</label>
        <textarea [(ngModel)]="parcel.receiverAddress" name="receiverAddress" class="form-control" required></textarea>

        <div class="row">
          <div class="col-md-6">
      <label class="form-label">Country</label>
      <select formControlName="country" class="form-select" (change)="onCountryChange()">
        <option value="">Select Country</option>
        <option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</option>
      </select>
    </div>

    <div class="col-md-6">
      <label class="form-label">Division</label>
      <select formControlName="division" class="form-select" (change)="onDivisionChange()">
        <option value="">Select Division</option>
        <option *ngFor="let division of filteredDivisions" [value]="division.id">{{ division.name }}</option>
      </select>
    </div>

    <div class="col-md-6">
      <label class="form-label">District</label>
      <select formControlName="district" class="form-select" (change)="onDistrictChange()">
        <option value="">Select District</option>
        <option *ngFor="let district of filteredDistricts" [value]="district.id">{{ district.name }}</option>
      </select>
    </div>

    <div class="col-md-6">
      <label class="form-label">Police Station</label>
      <select formControlName="policeStation" class="form-select">
        <option value="">Select Police Station</option>
        <option *ngFor="let ps of filteredPoliceStations" [value]="ps.id">{{ ps.name }}</option>
      </select>
    </div>
          
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
          <label>Current Hub</label>
        <input [(ngModel)]="parcel.receiverName" name="currentHub" class="form-control" required>
      </div>
      <div class="col-md-6">
         <label>Delivery Person</label>
        <input [(ngModel)]="parcel.deliveryPerson" name="deliveryPerson" class="form-control" required>
      </div>

      </div>

    <button type="submit" class="btn btn-danger mt-3">Submit</button>
  </form>
</div>
