<div class="container mt-4">
  <h3 class="text-center mb-3">All Users</h3>

  <table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Photo</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>NID</th>
       
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>{{ i + 1 }}</td>
        <td>
          <img [src]="user.photo" alt="User Photo" width="50" height="50" style="object-fit: cover; border-radius: 50%;" />
        </td>
        <td>{{ user.name }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.nid }}</td>
         <p><img [src]="'http://localhost:8085/images/users/'+user.photo" height="100" width="100"></p>
        
        
      </tr>
    </tbody>
  </table>

  <div *ngIf="users.length === 0" class="alert alert-warning text-center">
    No users found.
  </div>
</div>
